@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.radius-yellow {
  border: solid yellow;
}
/* footer text blinking 1 second each */
.blinking {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* fixed-footer */
.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensures the footer stays on top */
}
body {
  background-color: black;
  color: white;
  /* touch-action: none; */
  user-select: none;
}

@keyframes move-x {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(20px);
  }
}

.animate-move-x {
  animation: move-x 2s infinite alternate;
}

@keyframes move-x-reverse {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-20px);
  }
}

.animate-move-x-reverse {
  animation: move-x-reverse 2s infinite alternate;
  /*-webkit-animation: move-y-reverse 2s infinite alternate;
  */
  -webkit-animation: move-x-reverse 2s infinite alternate;
  -webkit-animation: move-x-reverse 2s infinite alternate;
}

/*heading.jsx  heading-text-section  css */

.heading-text-section {
  margin-top: 30px;
  flex-wrap: wrap;
}

@media (min-width: 320px) and (max-width: 375px) {
  .heading-text-section {
    margin-left: 0;
    width: 500px;
  }
}

@media (min-width: 375px) and (max-width: 425px),
(min-width: 375px) and (max-width: 768px) {
  .heading-text-section {
    margin-left: 10px;
    width: 490px;
  }
}


/* desktop mode */
@media(min-width: 450px) and (max-width: 768px) {
  .heading-text-section {
    margin-left: 30px;
    width: 768px;
  }
}

/* @media(min-width: 900px) and (max-width: 1024px) {
  .heading-text-section {
    margin-left: 100px;
    width: 968px;
  }
} */


@media (min-width: 768px) and (max-width: 1024px) {
  .heading-text-section {
    margin-left: 70px;
    width: 700px;
  }
}

/* @media (min-width: 1024px) and (max-width: 1284px) {
  .heading-text-section {
   
    width: 1200px;
  }
} */


@media (min-width: 1024px) and (max-width: 1440px) {
  .heading-text-section {
    margin-left: 70px;
    width: 830px;
  }
}




@media (min-width: 1440px) and (max-width: 1884px) {
  .heading-text-section {
    margin-left: 100px;
    width: 1200px;
    align-items: center;
  }
}
/* blue-image-section animation-image */
@media (min-width: 320px) and (max-width: 375px) {
  .blue-image-section {
    margin-top: 30px;
    margin-left: 30px;

    width: 450px;
  }
}

@media (min-width: 375px) and (max-width: 425px) {
  .blue-image-section {
    margin-top: 30px;
    /* margin-left:40px;

  width: 450px; */
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .blue-image-section {
    margin-top: 50px;
    margin-left: 0px;

    /* width: 450px; */
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .blue-image-section {
    margin-top: 50px;
    /* margin-left:40px;

  width: 450px; */
  }
}

/* "orange-image-section css */

@media (min-width: 320px) and (max-width: 375px) {
  .orange-image-section {
    margin-top: 30px;

    margin-left: px;

    width: 40px;
  }
}


/* desktop mode orange-image */
@media(min-width: 450px) and (max-width: 640px) {
  .orange-image-section {
    margin-left: 340px;
    /* width: 768px; */
  }
}
/* workshop.jsx css  */
@media (min-width: 320px) and (max-width: 375px) {
  .workshop-section {
  
    margin-top: 30px;
    margin-left:10px;
    width: 470px;
  }
}

@media (min-width: 375px) and (max-width: 425px) {
  .workshop-section {
    margin-top: 30px;
    margin-left: 0px;
    width: 480px;
  }
}


/* @media(min-width:425px) and (max-width:450px){
  .workshop-section{
    width: 1200px;
  }
} */
/* desktop mode */
@media (min-width: 450px) and (max-width: 768px) {
  .workshop-section {
    margin-top: 30px;
    margin-left: 0px;
    width: 868px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .workshop-section {
   margin-left: 0 px;
    width: 870px;
  }
}

@media (min-width: 1024px) and (max-width: 1284px) {
  .workshop-section {
    /* margin-left: 70px; */
    width: 500px;
  }
}


@media (min-width: 1024px) and (max-width: 1440px) {
  .workshop-section {
    flex-direction: column;
    justify-content: center;
  }
}

@media (min-width: 1440px) and (max-width: 1884px) {
  .workshop-section {
    flex-direction: row;
    justify-content: center;
  }
}
@media (min-width: 1884px) and (max-width: 2560px) {
  .workshop-section {
    flex-direction: row;
    justify-content: center;
  }
}

















/*  */
/* left -section */
@media (min-width: 1024px) and (max-width: 1440px) {
  /* image and name section */
  .workshop-section .workshop-left-section {
    margin-left: 300px;
  }
}

@media (min-width: 1884px) and (max-width: 2560px) {
  .workshop-section .workshop-left-section {
    margin-left: 150px;
  }
}

@media (min-width: 1440px) and (max-width: 1884px) {
  /* image and name section */
  .workshop-section .workshop-left-section {
    margin-left: 200px;
  }
}
/* left-text-box section */
@media (min-width: 1024px) and (max-width: 1440px) {
  .left-text-section {
    /* margin-top: 100px; */
    font-size: 20px;
    width: 950px;
    /* white-space: no-wrap; */
  }
}

@media (min-width: 1440px) and (max-width: 1884px) {
  .left-text-section {
    /* margin-top: 100px; */
    font-size: 20px;
    width: 700px;
    /* white-space: no-wrap; */
  }
}
/* right-section */
@media (min-width: 1024px) and (max-width: 1440px) {
  .workshop-section .right-section {
    /* padding-right: 100px; */
    display: flex;
    justify-content: center;
    /* white-space: nowrap; */
    width: 950px;
  }
}

@media (min-width: 1884px) and (max-width: 2560px) {
  .workshop-section .right-section {
    /* padding-right: 100px; */
    display: flex;
    justify-content: center;
    /* white-space: nowrap; */
    width: 800px;
  }
}
/* large x-large screen- left side */

@media (min-width: 1884px) and (max-width: 2560px) {
  .left-text-section {
    /* padding-right: 100px; */
    width: 600px;
    /* height: 300px; */
  }
}

@media (min-width: 1440px) and (max-width: 1884px) {
  .workshop-section .right-section {
    /* padding-right: 100px; */
    display: flex;
    margin-right: 50px;
    justify-content: center;
  }
}

@media (min-width: 1440px) and (max-width: 1884px) {
  .workshop-section .right-section {
    /* padding-right: 100px; */
    display: flex;
    margin-right: 50px;
    justify-content: center;
  }
}

@media (min-width: 320px) and (max-width: 1024px) {
  .large-screen-button {
    display: none;
  }
}

/* how will change buiseness css */

@media (min-width: 320px) and (max-width: 375px) {
  .buisness-section {
    margin-top: 30px;
    margin-left: px;
    width: 515px;
  }
}

@media (min-width: 375px) and (max-width: 425px) {
  .buisness-section {
    margin-top: 30px;
    margin-left: px;

    width: 550px;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .buisness-section {
    margin-left: 0px;

    width: 550px;
  }
}

/* @media (min-width: 900px) and (max-width: 1024px) {
  .buisness-section {
    margin-left: 0px;

    width: 9000px;
  }
} */

@media (min-width: 480px) and (max-width: 1024px) {
  .buisness-section {
    margin-left: px;
    width: 897px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .buisness-section {
    margin-left: 2px;
    width: 899px;
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .buisness-section {
    margin-left: px;

    width: 1020px;
  }
}

@media (min-width: 1440px) and (max-width: 1584px) {
  .buisness-section {
    display: flex;
    margin-left: px;

    width: 1472px;
  }
}

/*timeEnroll.jsx  timeEnroll-section css*/
@media (min-width: 320px) and (max-width: 375px) {
  .timeEnroll-section {
    margin-top: 30px;
    margin-left: 0px;
    flex-wrap: wrap;
    width: 510px;
  }
}

@media (min-width: 375px) and (max-width: 425px) {
  .timeEnroll-section {
    margin-top: 30px;
    margin-left:30px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    width: 498px;
  }
}


@media (min-width: 420px) and (max-width: 450px) {
  .timeEnroll-section {
   
    width: 520px;
  }
}

/* desktop mode  */
@media (min-width: 450px) and (max-width: 768px) {
  .timeEnroll-section {
    /* margin-top: 30px;
    margin-left: px; */
    text-align: center;
    width: 868px;
  }
}


/* @media (min-width: 375px) and (max-width: 768px) {
  .timeEnroll-section {
    margin-left: 0px;

    width: 550px;
  }
} */

@media (min-width: 768px) and (max-width: 1024px) {
  .timeEnroll-section {
    margin-left: px;

    width: 900px;
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .timeEnroll-section {
    margin-left: px;

    width: 1000px;
  }
}

@media (min-width: 1440px) and (max-width: 1884px) {
  .timeEnroll-section {
    margin-left: px;

    width: 1400px;
  }
}

@media (min-width: 1884px) and (max-width: 2560px) {
  .timeEnroll-section {
    margin-left: px;

    width: 2500px;
  }
}

/* newsFeature-section section */
/* @media(min-width:450px)and(max-width:480px){
.newsFeature-section{
  width: 468px;
}
} */
/* ReallifeBuisness.jsx css */

@media (min-width: 320px) and (max-width: 380px) {
  .vidio-section {
    width: 500px;
    margin-left: 185px;
  }
}
@media (min-width: 380px) and (max-width: 450px) {
  .vidio-section {
    width: 500px;
    margin-left: 130px;
  }
}

@media (min-width: 450px) and (max-width: 768px) {
  .vidio-section {
    display: flex;
    margin-left: 10px;
  }
}

@media (min-width: 768px) and (max-width: 800px) {
  .vidio-section {
    display: flex;
    margin-left: 130px;
  }
}

@media (min-width: 800px) and (max-width: 900px) {
  .vidio-section {
    display: flex;
    margin-left: 100px;
  }
}

@media (min-width: 900px) and (max-width: 1024px) {
  .vidio-section {
    display: flex;
    margin-left: 100px;
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .vidio-section {
    display: flex;
    margin-left: 5px;
  }
}

@media (min-width: 1440px) and (max-width: 1884px) {
  .vidio-section {
    display: flex;
    margin-left: 5px;
  }
}

@media (min-width: 1884px) and (max-width: 2560px) {
  .vidio-section {
    display: flex;
    margin-left: 5px;
  }
}

@media (min-width: 320px) and (max-width: 380px) {
  .text-section {
    width: 500px;
    margin-left: 185px;
  }
}

@media (min-width: 380px) and (max-width: 450px) {
  .text-section {
    width: 500px;
    margin-left: 130px;
  }
}

@media (min-width: 450px) and (max-width: 768px) {
  .text-section {
    width: 500px;
    margin-left: 130px;
  }
}



/* reallife-vidio-section */
@media (min-width: 320px) and (max-width: 375px) {
  .reallife-vidio-section {
    width: 300px;
    margin-left: 10px;
  }
}
@media (min-width: 375px) and (max-width: 450px) {
  .reallife-vidio-section {
    width: 420px;
    margin-left: 1px;
  }
}

@media (min-width: 450px) and (max-width: 768px) {
  .reallife-vidio-section{
    flex-direction: column;
    margin-left: 12px;
    width: 875px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .reallife-vidio-section {
   
    /* margin-left: 5px; */
    width: 750px;
    
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .reallife-vidio-section {
   
    /* margin-left: 5px; */
    width: 1000px;
    
  }
}
@media (min-width: 1440px) and (max-width: 1584px) {
  .reallife-vidio-section {
   
    margin-left: 15px;
    width: 1440px;
    
  }
}



/* seminar.jsx css */
@media (min-width: 320px) and (max-width: 375px) {
  .success-achieved {
    width: 500px;
    margin-left: 10px;
  }
}
@media (min-width: 375px) and (max-width: 450px) {
  .success-achieved {
    width: 550px;
    margin-left: 1px;
  }
}

@media (min-width: 450px) and (max-width: 768px) {
  .success-achieved {
    
    margin-left: 12px;
    width: 875px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .success-achieved {
   
    margin-left: 5px;
    
  }
}

/* success-achieved-section   */

@media (min-width: 320px) and (max-width: 375px) {
  .seminar-section {
    width: 514px;
 
  }
}
@media (min-width: 375px) and (max-width: 450px) {
  .seminar-section {
    width: 550px;
  
  }
}

@media (min-width: 450px) and (max-width: 768px) {
  .seminar-section {
   
    width: 898px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .seminar-section {
   
    width: 900px;
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .seminar-section {
    margin-left: px;
    width: 1024px;
   
  }
}

@media (min-width: 1440px) and (max-width: 1584px) {
  .seminar-section {
    margin-left: px;
    width: 1471px;
    /* width: 1020px;  */
  }
}

/* fourHours-learnSection-section */
@media (min-width: 320px) and (max-width: 375px) {
  .fourHours-learnSection-section {
    width: 514px;
    /* margin-left: 10px; */
  }
}
@media (min-width: 375px) and (max-width: 450px) {
  .fourHours-learnSection-section {
    width: 550px;
   
  }
}

@media (min-width: 450px) and (max-width: 768px) {
  .fourHours-learnSection-section {
   
    width: 898px;
  }
}



/* bonus-section css */

@media (min-width: 320px) and (max-width: 375px) {
  .bonus-section {
    width: 514px;
  
  }
}
@media (min-width: 375px) and (max-width: 450px) {
  .bonus-section {
    width: 550px;
    
  }
}

@media (min-width: 450px) and (max-width: 768px) {
  .bonus-section {
   
    width: 898px;
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .bonus-section {
    margin-left: px;
    width: 1024px;
   
  }
}

@media (min-width: 1440px) and (max-width: 1584px) {
  .bonus-section {
    margin-left: px;
    width: 1470px;
    
  }
}
/* three-testimonial-section css */

@media (min-width: 320px) and (max-width: 375px) {
  .three-testimonial-section {
    width: 514px;
   
  }
}
@media (min-width: 375px) and (max-width: 450px) {
  .three-testimonial-section {
    width: 550px;
   
  }
}

@media (min-width: 450px) and (max-width: 768px) {
  .three-testimonial-section {
    /* display: flex; */
    /* margin-left:12px; */
    width: 898px;
  }
}

/* nine-testimonial-section css */

@media (min-width: 320px) and (max-width: 375px) {
  .nine-testimonial-section {
    width: 514px;
    /* margin-left: 10px; */
  }
}
@media (min-width: 375px) and (max-width: 450px) {
  .nine-testimonial-section {
    width: 550px;
    /* margin-left: 1px; */
  }
}

@media (min-width: 450px) and (max-width: 768px) {
  .nine-testimonial-section {
    width: 898px;
  }
}

@media (min-width: 1260px) and (max-width: 1440px) {
  .nine-testimonial-section {
    width: 1467px;
  }
}

/* coach-section css */

@media (min-width: 320px) and (max-width: 375px) {
  .coach-section {
    width: 514px;
    /* margin-left: 10px; */
  }
}
@media (min-width: 375px) and (max-width: 450px) {
  .coach-section {
    width: 550px;
    /* margin-left: 1px; */
  }
}

@media (min-width: 450px) and (max-width: 768px) {
  .coach-section {
    width: 898px;
  }
}

@media (min-width: 1260px) and (max-width: 1440px) {
  .coach-section {
    width: 1467px;
  }
}

@media (min-width: 1440px) and (max-width: 2560px) {
  .coach-section {
    /* width: 1467px; */
    margin-left: 200px;
  }
}
@media (min-width: 1440px) and (max-width: 1584px) {
  .coach-section {
    /* width: 1467px; */
    margin-left: 10px;
  }
}

/* picture-section css */

@media (min-width: 320px) and (max-width: 375px) {
  .picture-section {
    width: 514px;
    /* margin-left: 10px; */
  }
}

@media (min-width: 375px) and (max-width: 450px) {
  .picture-section {
    width: 550px;
    /* margin-left: 1px; */
  }
}

@media (min-width: 450px) and (max-width: 768px) {
  .picture-section {
    width: 898px;
  }
}

@media (min-width: 1260px) and (max-width: 1440px) {
  .picture-section {
    width: 1467px;
  }
}


@media (min-width: 1440px) and (max-width: 1584px) {
  .picture-section {
    width: 1470px;

  }
}


/* guarantee-section css */

@media (min-width: 320px) and (max-width: 375px) {
  .guarantee-section {
    width: 514px;
    /* margin-left: 10px; */
  }
}

@media (min-width: 375px) and (max-width: 450px) {
  .guarantee-section {
    width: 550px;
    /* margin-left: 1px; */
  }
}

@media (min-width: 450px) and (max-width: 768px) {
  .guarantee-section {
    width: 898px;
  }
}
  @media (min-width: 1260px) and (max-width: 1440px)
  {
   .guarantee-section {
      width: 1467px;
    }
  }
  @media (min-width: 1440px) and (max-width: 2560px){
    .guarantee-section {
      width: 1467px;
    }
  }

  @media (min-width: 1440px) and (max-width: 1584px) {
    .guarantee-section {
      width: 1470px;
    }
  }
 
  @media (min-width: 1584px) and (max-width: 2560px) {
    .guarantee-section {
      width: 2560px;
    }
  }



  /* promise-section css */


  @media (min-width: 320px) and (max-width: 375px) {
    .promise-section {
      width: 514px;
  
    }
  }

  @media (min-width: 375px) and (max-width: 450px) {
    .promise-section {
      width: 550px;
     
    }
  }

  @media (min-width: 450px) and (max-width: 768px) {
    .promise-section {
      width: 898px;
    }
  }




  /* FAQ section */

  
  @media (min-width: 320px) and (max-width: 375px) {
    .faq-section{
      width: 514px;
   
    }
  }

  @media (min-width: 375px) and (max-width: 450px) {
    .faq-section {
      width: 550px;
    }
  }

  @media (min-width: 450px) and (max-width: 768px) {
    .faq-section{
      width: 898px;
    }
  }



  /* Companylogo-section css */

  @media (min-width: 320px) and (max-width: 375px) {
    .Companylogo-section{
      width: 514px;
      
    }
  }

  @media (min-width: 375px) and (max-width: 450px) {
    .Companylogo-section{
      width: 550px;
      
    }
  }

  @media (min-width: 450px) and (max-width: 768px) {
    .Companylogo-section{
      width: 898px;
    }
  }

  @media (min-width: 1440px) and (max-width: 1584px) {
    .Companylogo-section {
      width: 1470px;
    }
  }